/* Inserta tu codigo aqui */
nav{
	background-color: #EAB10F;
	text-align:center;
	margin-top:0px;
	color:white;
}
select{
	background-color: #00B8FF;
	color:white;
}
button{
 background-color:#0E2831;
 color:white;
 border-radius:10px;
 border-color:#0E2831;
 margin:4px 0;
}
input{
	margin:5px 0;
}
img{
	width:100%;
}
.resultado{
	color: purple;
	font-size:16px;
}